html,body{
  min-height: 100%;
}

body{
  background-image:  RADIAL-gradient(circle at 20% 40%, #99cccc 20%, #C2D3FD 40%, #F6DEC9 60%,#C9EEF6 80%);
  background-size: cover;
}
.content{
  margin-left: 150px;
  margin-right: 150px;
}
h1{
  text-align: center;
  color: midnightBlue;
}

p{
  color:red;
  text-align: center;
}

button{
  float: right;
}
/* .pages{
  float: left;
} */
